# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ForSshDebug.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.DotSettings
*.suo
*.user
*.dll
*.pdb
*.xml
*.log
*.ctf
*.cmd
*.txt
!CMakeLists.txt
!timezones.xml
*.pdb
*.exe
*.dll
*.so
*.tlog
.idea/
.vscode/
Tools/installator/builds/
Tools/installator/repository/
.vs/
.backup/
.nuget/
x64/
x86/
ipch/
Win32/
CMakeFiles/
node_modules/
packages
TestResults
bin
obj
obj/*
Temp
Platform/Install/packages
Platform/Web/
Platform/Server/Azure/packages/
Platform/Server/Site/data/
Platform/Server/Site/
Web/Bin
Web/data/
Web/data*/
Web/Logs/
Web/node-modules/
Web/compiled/
Web/unauthorized/localization/
Web/js/compiled/
Web/.eslintcache
/Web/test
.happyPackCache/
UpgradeLog*.htm
buildlocal.cmd
ProductComponents.wxs
Web/js/core/build/node_modules/
Web/js/core/build/comindware/
/Web/_test
LocalizationDb/
BuildReports/
BinCheckout/
Web/resources/external/comindware.core.ui/
Web/resources/localization/
Tools/FiasODataService/Publications
/updateEntity.cmd
*.VC.db
*.VC.VC.opendb
Workers.config
Web/help
Web/mobile
Web/.eslintcache
Help/venv/
venv/
Help/__pycache__/
Help/docs/__pycache__/
*.orig
*.cdbbz
MobileApp/.yarnrc.yml
MobileApp/.yarn
